---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.post-content {
	text-align: justify;
}

.problem {
	margin-bottom: 1em;
}

.problem span {
	font-size: 20px;
}

.mfp-img {
	background-color: var(--main-bg);
}

.preview-img img {
	object-fit: fill;
}
